body{
    padding-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/Blackjack/table.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold; 
    font-size: large;
    
}
h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 4px;
}

